@import "../../styles/constants.scss";

.home-page {
    h1 {
        font-style: 3rem;
        text-align: center;
        margin-bottom: 50px;
    }
    .switcher {
        font-style: 1rem;
        font-weight: bold;
        color: $yellow;
        border-radius: 50px;
        background-color:$white;
        transition: 0.2s;
        padding: 1rem 2.5rem;
        &:active {
            color: $white;
            background-color: $yellow;
        }
    }
}
